@model List<Ornamentals_Project.Models.Producto>

<!--STORE-->

<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Tienda</li>
            </ul>
        </div>

        <div class="col-md-3">
            <!-- *** MENUS AND FILTERS ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Categorías</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li class="active">
                            <a href="@Url.Action("Index", "Store")">Tipos de Plantas<span class="badge pull-right">42</span></a>
                            <ul>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="arbol"/>
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Árboles</button>
                                    </form>
                                    
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="hortaliza" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Hortalizas</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="flores" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Flores</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="palmera" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Palmeras</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="arbusto" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Arbustos</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="trepadora" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Trepadoras</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="cactus" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Cáctus y Crasas</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="fruta" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Frutales</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="acuatica" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Acuáticas</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="@Url.Action("Index", "Store")">Ambientes  <span class="badge pull-right">123</span></a>
                            <ul>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="hogar" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Para Hogar</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="departamento" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Para Departamento</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="jardin" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Para Jardin</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="@Url.Action("Index", "Store")">Tamaños<span class="badge pull-right">11</span></a>
                            <ul>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="grande" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Grande</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="mediano" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Mediano</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="pequeño" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Pequeño</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="semilla" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Semillas</button>
                                    </form>
                                </li>
                            </ul>
                        </li class="active">

                        <li class="active">
                            <a href="@Url.Action("Index", "Store")">Colores<span class="badge pull-right">11</span></a>
                            <ul class="colapse">
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="Amarillo" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Amarillo</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="Morado" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Morado</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="Verde" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">Verde</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="@Url.Action("Index","Store")">
                                        <input type="hidden" name="id" value="rosado" />
                                        <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">rosado</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
            <!--
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Tamaños <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Limpiar</a></h3>
                </div>

                <div class="panel-body">

                    <form>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Grande (10)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Mediano (12)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Pequeño (15)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Semillas (14)
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Aplicar</button>

                    </form>

                </div>
            </div>

            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Color de maceta <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
                </div>

                <div class="panel-body">

                    <form>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <span class="colour white"></span> Blanco
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <span class="colour blue"></span> Gris
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <span class="colour green"></span> Verde
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <span class="colour yellow"></span> amarillo
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <span class="colour red"></span> Negro
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Aplicar</button>

                    </form>

                </div>
            </div>
            -->
            <!-- *** MENUS AND FILTERS END *** -->
            <!--
                <div class="banner">
                <a href="#">
                    <img src="~/img/banner.jpg" alt="sales 2014" class="img-responsive">
                </a>
            </div>
            -->
            

        </div>

        <div class="col-md-9">
            <!--
                <div class="box">
                <h1>Plantas para Departamentos</h1>
                <p>Decora y dale vida a tu departamento</p>
            </div>
            -->
            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-4 products-showing">
                        Viendo <strong>9</strong> de <strong>@{var i = Model; @i.Capacity}</strong> productos
                    </div>

                    <div class="col-sm-12 col-md-8  products-number-sort">
                        <div class="row">
                            <form class="form-inline" action="@Url.Action("Index","Store")">
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-number">
                                        <!--<strong>Ver</strong>  <a href="#" class="btn btn-default btn-sm btn-primary">12</a>  <a href="#" class="btn btn-default btn-sm">24</a>  <a href="#" class="btn btn-default btn-sm">Todos</a> productos-->
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="products-sort-by">
                                        <strong>Ordenar por</strong>
                                        <select name="id" class="form-control" onchange="this.form.submit()">
                                            <option value="recomendado">seleccione</option>
                                            <option value="precio">Precio</option>
                                            <option value="nombre">Nombre</option>
                                            <option value="oferta">Oferta</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row products">

                @foreach (var item in Model)
                {
                    var imagen = @item.ProductoImagen.FirstOrDefault();
                    string img = imagen == null ? "no_disponible.jpg" : imagen.Imagen;

                    <div class="col-md-4 col-sm-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <form action="@Url.Action("Product","Store")">
                                            <input type="hidden" name="id" value="@item.ProductoId"/>
                                            <button style="padding:0px; border:hidden" type="submit">
                                                <img src="~/ImgProductos/@img" alt="" class="img-responsive">
                                            </button>
                                        </form>
                                        
                                    </div>
                                    <div class="back">
                                        <form action="@Url.Action("Product","Store")">
                                            <input type="hidden" name="id" value="@item.ProductoId" />
                                            <button style="padding:0px; border:hidden" type="submit">
                                                <img src="~/ImgProductos/@img" alt="" class="img-responsive">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <form action="@Url.Action(" Product","Store")">
                                <input type="hidden" name="id" value="@item.ProductoId" />
                                <button style="padding:0px; border:hidden" type="submit">
                                    <img src="~/ImgProductos/@img" alt="" class="img-responsive">
                                </button>
                            </form>
                            <div class="text">
                                <h3><a href="#">@item.Denominacion</a></h3>
                                <p class="price">S/. @item.Precio</p>
                                <form class="navbar-form" role="search" action="@Url.Action("Product","Store")">
                                    <p class="buttons">
                                        <input type="hidden" name="id" class="form-control" value="@item.ProductoId">
                                        <input type="hidden" value="@item.Existencias" name="Existencias" id="@item.ProductoId"/>
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">Ver Detalles</button>
                                        </span>
                                    </p>
                                </form>
                                <p class="buttons">
                                    @*<a href="@Url.Action("Product", "Store")" class="btn btn-default">Ver Detalles</a>*@
                                    
                                    <a id="@item.ProductoId" onclick="AgregarCarrito(@item.ProductoId, '@item.Denominacion', '@img', @item.Precio, @item.Existencias)" class="btn btn-primary" data-toggle="modal" data-target="#carrito-modal" ><i class="fa fa-shopping-cart"></i>Agregar al Carrito</a>
                                </p>
                                
                            </div>
                            <div class="ribbon sale" id="@item.ProductoId" style="display:none;">
                                <div class="theribbon" style="background-color:coral; width:100px;">AGOTADO</div>
                                <div class="ribbon-background" style="background-color:coral"></div>
                            </div>
                            <!-- /.ribbon -->
                            <!--
                                <div class="ribbon new">
                                    <div class="theribbon">AGOTADO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                            -->
                            
                            <!-- /.ribbon -->
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                }
                
                <div class="modal fade" id="carrito-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" >
                    <div class="modal-dialog modal-sm">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="BtnInfoCarrito">&times;</button>
                                <h4 class="modal-title" id="MsjCart">Nuevo Item en Carrito</h4>
                            </div>
                            <div class="modal-body">
                                                                @*
                                            <form action="@Url.Action("Login","Home")" method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="email-modal" placeholder="Usuario" name="usuario">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password-modal" placeholder="Contraseña" name="clave">
            </div>

            <p class="text-center">
                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i>Log in</button>
            </p>

        </form>

        <p class="text-center text-muted">¿Aún no estás registrado?</p>
        <p class="text-center text-muted"><a href="#register-modal"><strong>Registrate ahora</strong></a>! Es fácil y en menos de 1 minuto. Te daremos acceso a descuentos especiales y mucho más!!</p>

                                                                *@
                                <p id="MsjCarrito">Se Agrego un nuevo item al Carrito</p>

                            </div>
                        </div>
                    </div>
                </div>

                @*
                <div class="col-md-4 col-sm-6">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="@Url.Action("Product", "Store", new { id = "productoWhiteBlue"})">
                                        <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="@Url.Action("Product", "Store", new { id = "productoWhiteBlue"})">
                                        <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="@Url.Action("Product", "Store", new { id = "productoWhiteBlue"})" class="invisible">
                            <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="@Url.Action("Product", "Store", new { id = "productoWhiteBlue"})">White Blouse Armani</a></h3>
                            <p class="price"><del>$280</del> $143.00</p>
                            <p class="buttons">
                                <a href="@Url.Action("Product", "Store", new { id = "productoWhiteBlue"})" class="btn btn-default">Ver Detalles</a>
                                <a href="@Url.Action("Index", "Basket")" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Añadir al Carrito</a>
                            </p>
                        </div>
                        <!-- /.text -->

                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                        <div class="ribbon gift">
                            <div class="theribbon">GIFT</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->
                    </div>
                    <!-- /.product -->
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="detail.html">Black Blouse Versace</a></h3>
                            <p class="price">$143.00</p>
                            <p class="buttons">
                                <a href="@Url.Action("Product", "Store")" class="btn btn-default">Ver Detalles</a>
                                <a href="@Url.Action("Index", "Basket")" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Añadir al Carrito</a>
                            </p>

                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="detail.html">Black Blouse Versace</a></h3>
                            <p class="price">$143.00</p>
                            <p class="buttons">
                                <a href="@Url.Action("Product", "Store")" class="btn btn-default">Ver Detalles</a>
                                <a href="@Url.Action("Index", "Basket")" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Añadir al Carrito</a>
                            </p>

                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="detail.html">White Blouse Versace</a></h3>
                            <p class="price">$143.00</p>
                            <p class="buttons">
                                <a href="@Url.Action("Product", "Store")" class="btn btn-default">Ver Detalles</a>
                                <a href="@Url.Action("Index", "Basket")" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Añadir al Carrito</a>
                            </p>

                        </div>
                        <!-- /.text -->

                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->
                    </div>
                    <!-- /.product -->
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="~/img/planta-1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="detail.html">Fur coat</a></h3>
                            <p class="price">$143.00</p>
                            <p class="buttons">
                                <a href="@Url.Action("Product", "Store")" class="btn btn-default">Ver Detalles</a>
                                <a href="@Url.Action("Index", "Basket")" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Añadir al Carrito</a>
                            </p>

                        </div>
                        <!-- /.text -->

                        <div class="ribbon gift">
                            <div class="theribbon">GIFT</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                    </div>
                    <!-- /.product -->
                </div>

                *@
                <!-- /.col-md-4 -->
            </div>
            <!-- /.products -->

            <div class="pages">

                <p class="loadMore">
                    <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Ver Más</a>
                </p>

                <ul class="pagination">
                   @foreach (var item in Model)
                   {
                       int cont = 0;
                       cont++;
                       if (cont % 9 == 0)
                       {
                        <li>
                            <a href="#"></a>

                  </li>
                       }
                    
                   }
                    
                    
                </ul>
            </div>


        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->

