@model List<Ornamentals_Project.Models.Producto>

@foreach (var item in Model)
{
    var imagen = @item.ProductoImagen.FirstOrDefault();
    string img = imagen == null ? "no_disponible.jpg" : imagen.Imagen;
    <div class="col-md-3 col-sm-6">
        <div class="product same-height">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <form action="@Url.Action("Product","Store")">
                            <input type="hidden" name="id" value="@item.ProductoId" />
                            <button style="padding:0px; border:hidden" type="submit">
                                <img src="~/ImgProductos/@img" alt="" class="img-responsive">
                            </button>
                        </form>
                    </div>
                    <div class="back">
                        <form action="@Url.Action("Product","Store")">
                            <input type="hidden" name="id" value="@item.ProductoId" />
                            <button style="padding:0px; border:hidden" type="submit">
                                <img src="~/ImgProductos/@img" alt="" class="img-responsive">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <form action="@Url.Action("Product","Store")">
                <input type="hidden" name="id" value="@item.ProductoId" />
                <button style="padding:0px; border:hidden" type="submit">
                    <img src="~/ImgProductos/@img" alt="" class="img-responsive">
                </button>
            </form>
            <div class="text">
                <h3>@item.Denominacion</h3>
                <p class="price">S/. @item.Precio .00</p>
            </div>
        </div>
        <!-- /.product -->
    </div>
}
