@model List<Ornamentals_Project.Models.Producto>
<!--HOME-->
<div id="content">

    <div class="container">
        <div class="col-md-12">
            <div id="main-slider">
                <div class="item">
                    <img src="~/img/main_slider3.png" alt="" class="img-responsive">
                </div>
                <div class="item">
                    <img class="img-responsive" src="~/img/main_slider3.png" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="~/img/main_slider3.png" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="~/img/main_slider3.png" alt="">
                </div>
            </div>
            <!-- /#main-slider -->
        </div>
    </div>

    <!-- *** ADVANTAGES HOMEPAGE ***
    _________________________________________________________ -->
    <div id="advantages">

        <div class="container">
            <div class="same-height-row">
                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon">
                            <i class="fa fa-heart"></i>
                        </div>

                        <h3><a href="#">Premiamos a nuestros clientes</a></h3>
                        <p></p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon">
                            <i class="fa fa-tags"></i>
                        </div>

                        <h3><a href="#">Mejores Precios</a></h3>
                        <p></p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon">
                            <i class="fa fa-thumbs-up"></i>
                        </div>

                        <h3><a href="#">100% La garantía de envío</a></h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /#advantages -->
    <!-- *** ADVANTAGES END *** -->
    <!-- *** HOT PRODUCT SLIDESHOW ***
    _________________________________________________________ -->
    <div id="hot">

        <div class="box">
            <div class="container">
                <div class="col-md-12">
                    <h2>Los mas comprados</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="product-slider">
                @foreach (var item in Model)
                {
                    var imagen = @item.ProductoImagen.FirstOrDefault();
                    string img = imagen == null ? "no_disponible.jpg" : imagen.Imagen;
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <form action="@Url.Action("Product","Store")">
                                            <input type="hidden" name="id" value="@item.ProductoId" />
                                            <button style="padding:0px; border:hidden" type="submit">
                                                <img src="~/ImgProductos/@img" alt="" class="img-responsive">
                                            </button>
                                        </form>
                                    </div>
                                    <div class="back">
                                        <form action="@Url.Action("Product","Store")">
                                            <input type="hidden" name="id" value="@item.ProductoId" />
                                            <button style="padding:0px; border:hidden" type="submit">
                                                <img src="~/ImgProductos/@img" alt="" class="img-responsive">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <form action="@Url.Action("Product","Store")">
                                <input type="hidden" name="id" value="@item.ProductoId" />
                                <button style="padding:0px; border:hidden" type="submit">
                                    <img src="~/ImgProductos/@img" alt="" class="img-responsive">
                                </button>
                            </form>
                            <div class="text">
                                <h3><a href="@Url.Action("Product", "Store")">@item.Denominacion</a></h3>
                                <p class="price">S/. @item.Precio</p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                }

            </div>
            <!-- /.product-slider -->
        </div>
        <!-- /.container -->

    </div>
    <!-- /#hot -->
    <!-- *** HOT END *** -->
    <!-- *** GET INSPIRED ***
    _________________________________________________________ -->
    <div class="container" data-animate="fadeInUpBig">
        <div class="col-md-12">
            <div class="box slideshow">
                <h3>Conoce más acerca de las plantas</h3>
                <p class="lead">Inspírate en ellas</p>
                <div id="get-inspired" class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="#">
                            <img src="~/img/main_slider022.jpg" alt="Get inspired" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/img/main_slider022.jpg" alt="Get inspired" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/img/main_slider022.jpg" alt="Get inspired" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *** GET INSPIRED END *** -->
    <!-- *** BLOG HOMEPAGE ***
    _________________________________________________________ -->

    <div class="box text-center" data-animate="fadeInUp">
        <div class="container">
            <div class="col-md-12">
                <h3 class="text-uppercase">Nuestro Blog</h3>

                <p class="lead">
                    ¿Qué hay de nuevo con las plantas? <a href="@Url.Action("Index", "Blog")">Visita Nuestro Blog!</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="col-md-12" data-animate="fadeInUp">

            
            <!-- /#blog-homepage -->
        </div>
    </div>
    <!-- /.container -->
    <!-- *** BLOG HOMEPAGE END *** -->


</div>

