<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Ornamentals 
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="~/css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="~/css/custom.css" rel="stylesheet">

    <script src="~/js/respond.min.js"></script>

    <link rel="shortcut icon" href="~/img/favicon.png">



</head>

<body>

    <!-- *** TOPBAR ***
    _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Oferta del Día</a>  <a href="#">Obten un descuento del 15% en órdenes mayores a S/.50!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="#" data-toggle="modal" data-target="#login-modal">Inicia Sesión</a>
                        </li>
                        <text> o </text>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#register-modal">Registrate</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="#">Hola @Ornamentals_Project.Controllers.HomeController.ObtenerNombreUsuario()</a>
                        </li>
                        <text> o </text>
                        <li>
                            <a href="@Url.Action("Logout", "Home" )"> Cerrar Sesion </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact", "Home")">Contactos</a>
                        </li>
                        if (@Ornamentals_Project.Controllers.HomeController.ObtenerNombreUsuario().ToString() == "admin" && @Ornamentals_Project.Controllers.HomeController.ObtenerPasswordUsuario().ToString() == "1234")
                        {
                            <li>
                                <a href="@Url.Action("Products", "admin")">Administrador</a>
                            </li>
                        }

                    }
                    <!--
                        <li>
                            <a href="#" data-toggle="modal" data-target="#login-modal">Inicia Sesión</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#register-modal">Registrate</a>
                        </li>
                    -->
                    
                </ul>
            </div>
        </div>
        <!--SIGN IN-->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Inicia Sesión</h4>
                    </div>
                    <div class="modal-body">
                        <form action="@Url.Action("Login","Home")" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email-modal" placeholder="Usuario" name="usuario">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password-modal" placeholder="Contraseña" name="clave">
                            </div>

                            <p class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i>Log in</button>
                            </p>

                        </form>

                        <p class="text-center text-muted">¿Aún no estás registrado?</p>
                        <p class="text-center text-muted"><a href="#register-modal"><strong>Registrate ahora</strong></a>! Es fácil y en menos de 1 minuto. Te daremos acceso a descuentos especiales y mucho más!!</p>

                    </div>
                </div>
            </div>
        </div>

        <!--SING UP-->
        <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Registrarse</h4>
                    </div>
                    <div class="modal-body">
                        <form action="@Url.Action("RegistrarCliente","Home")" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email-modal" name="Nombres" placeholder="Nombres">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email-modal" name="Apellidos" placeholder="Apellidos">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email-modal" name="Usuario" placeholder="Usuario">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password-modal" name="Clave" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email-modal" name="Correo" placeholder="Email">
                            </div>
                            

                            <p class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i>Registarse</button>
                            </p>

                        </form>

                        <p class="text-center text-muted">¿ya estas registrado?</p>
                        <p class="text-center text-muted"><a href="#login-modal"><strong>Inicia Sesion</strong></a>! Es fácil </p>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- *** TOP BAR END *** -->
    <!-- *** NAVBAR ***
    _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="@Url.Action("Index","Home")" data-animate-hover="bounce">
                    <img src="~/img/log.jpg" alt="Obaju logo" class="hidden-xs">
                    <img src="~/img/log-small.jpg" alt="Obaju logo" class="visible-xs"><span class="sr-only">Home</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="basket.html">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 artículos en el carrito</span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active" id="homeSection" onclick="activaOpcion('homeSection');">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="dropdown yamm-fw" id="storeSection" onclick="activaOpcion('storeSection');">
                        <!--Url.Action("Index", "Store")-->
                        <a href="" onclick="irA('store');" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Tienda<b class="caret"></b></a>
                         
                        <ul class="dropdown-menu">
                        
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Tipo de Planta</h5>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Árboles</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Hortalizas/a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Flores</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Palmeras</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Arbustos</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Trepadoras</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Cáctus y Craceas</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Frutales</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Acuáticas</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Ambientes</h5>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Para Hogar</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Para Departamento</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Para Jardín</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Tamaños</h5>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Grande</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Pequeño</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Mediano</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Semilla</a>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Colores</h5>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Amarillo</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Morado</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Verde</a>
                                                </li>
                                            </ul>
                                            <h5>Looks and trends</h5>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Trainers</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Sandals</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Store")">Hiking shoes</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content-->
                            </li>
                        </ul>
                        
                    </li>

                    <li class="dropdown yamm-fw" id="serviceSection">
                        <a href="" onclick="irA('service');" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Servicios <b class="caret"></b></a>
                        
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Sembrador</h5>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">T-shirts</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Shirts</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Pants</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Accessories</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Podador</h5>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Trainers</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Sandals</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Hiking shoes</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Casual</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Decorador</h5>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Trainers</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Sandals</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Hiking shoes</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Casual</a>
                                                </li>
                                                
                                            </ul>
                                            
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>fitoterapeuta</h5>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Trainers</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Sandals</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Service")">Hiking shoes</a>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                        <!--<div class="col-sm-3">
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="~/img/banner.jpg" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="~/img/banner2.jpg" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                        </div>-->
                                        
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw" id="blogSection">
                        <a href="" onclick="irA('blog');" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Blog<b class="caret"></b></a>
                        <!--Html.ActionLink("Blog", "Index", "Blog", null, new { class = "dropdown-toggle" })-->
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Shop</h5>
                                            <ul>
                                                <li>
                                                    <a href="index.html">Homepage</a>
                                                </li>
                                                <li>
                                                    <a href="category.html">Category - sidebar left</a>
                                                </li>
                                                <li>
                                                    <a href="category-right.html">Category - sidebar right</a>
                                                </li>
                                                <li>
                                                    <a href="category-full.html">Category - full width</a>
                                                </li>
                                                <li>
                                                    <a href="detail.html">Product detail</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>User</h5>
                                            <ul>
                                                <li>
                                                    <a href="register.html">Register / login</a>
                                                </li>
                                                <li>
                                                    <a href="customer-orders.html">Orders history</a>
                                                </li>
                                                <li>
                                                    <a href="customer-order.html">Order history detail</a>
                                                </li>
                                                <li>
                                                    <a href="customer-wishlist.html">Wishlist</a>
                                                </li>
                                                <li>
                                                    <a href="customer-account.html">Customer account / change password</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Order process</h5>
                                            <ul>
                                                <li>
                                                    <a href="basket.html">Shopping cart</a>
                                                </li>
                                                <li>
                                                    <a href="checkout1.html">Checkout - step 1</a>
                                                </li>
                                                <li>
                                                    <a href="checkout2.html">Checkout - step 2</a>
                                                </li>
                                                <li>
                                                    <a href="checkout3.html">Checkout - step 3</a>
                                                </li>
                                                <li>
                                                    <a href="checkout4.html">Checkout - step 4</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Pages and blog</h5>
                                            <ul>
                                                <li>
                                                    <a href="blog.html">Blog listing</a>
                                                </li>
                                                <li>
                                                    <a href="post.html">Blog Post</a>
                                                </li>
                                                <li>
                                                    <a href="faq.html">FAQ</a>
                                                </li>
                                                <li>
                                                    <a href="text.html">Text page</a>
                                                </li>
                                                <li>
                                                    <a href="text-right.html">Text page - right sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="404.html">404 page</a>
                                                </li>
                                                <li>
                                                    <a href="contact.html">Contact</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">
                <div class="navbar-collapse collapse right" id="basket-overview">
                    <div class="nav navbar-nav navbar-right">
                        <div class="dropdown yamm-fw">
                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <a href="@Url.Action("Index", "Basket")" onmouseover="Desplegar();" onmouseout="Ocultar();" class="btn btn-primary navbar-btn">
                                    <i class="fa fa-shopping-cart"></i>
                                    &nbsp; cart<label id="nroProductosCarrito"></label>&nbsp; &nbsp;
                                    <span class="hidden-sm"></span>
                                    <label id="totalCompraCarrito"></label>
                                </a>

                            }
                            else
                            {
                                <a href="#" onmouseover="Desplegar();" onmouseout="Ocultar();" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#login-modal">
                                    <i class="fa fa-shopping-cart"></i>
                                    &nbsp; cart<label id="nroProductosCarrito"></label>&nbsp; &nbsp;
                                    <span class="hidden-sm"></span>
                                    <label id="totalCompraCarrito"></label>
                                </a>
                                
                            }
                            
                        </div>
                        <div id="despliegueDiv" style="display:none; width:400px;" class="dropdown-menu">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Vista</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="itemcarrito">
                                        <!--
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="~/img/planta-1.jpg" alt="White Blouse Armani"style="height:45px; width:40px;">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">White Blouse Armani</a>
                                            </td>
                                            
                                            <td>S/. 123.00</td>
                                        </tr>
                                        -->
                                        
                                        
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="1"></th>
                                            <th colspan="1"></th>
                                            <th colspan="2">Total</th>
                                            <th colspan="1"><p id="totalCarrito"></p></th> 
                                        </tr>
                                        <tr>
                                            <th colspan="2"></th>
                                            <th colspan="1"></th>
                                            <th colspan="2"><button class="btn btn-danger">Realizar Pago</button></th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                
                
                

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search" action="@Url.Action("Index","Store")">
                    <div class="input-group">
                        <input type="text" name="id" class="form-control" placeholder="Ingrese Palabra">
                        <span class="input-group-btn">

                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                        </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->
    <!-- *** NAVBAR END *** -->



    <div id="all">

        @RenderBody()
        <!-- /#content -->
        <!-- *** FOOTER ***
        _________________________________________________________ -->
        <div id="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Pages</h4>

                        <ul>
                            <li>
                                <a href="@Url.Action("Contact","Home")">Acerca de Nosotros</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Termcondition","Home")">Terminos y Condiciones</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Faq","Home")"">FAQ</a>
                            </li>
                            <li>
                                <a href="contact.html">Contáctanos</a>
                            </li>
                        </ul>

                        <hr>

                        <h4>Seccion Usuario</h4>

                        <ul>
                            <li>
                                <a href="" data-toggle="modal" data-target="#login-modal">Login</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "User")">Regiter</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Top de Categorías</h4>

                        <h5>Plantas</h5>

                        <ul>
                            <li>
                                <a href="@Url.Action("Index","Store")">Departamento</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Store")">Hogar</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Store")">Jardin</a>
                            </li>
                        </ul>

                        <h5>Servicio</h5>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index","Service")">Sembrador</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Service")">Podador</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Service")">Decorador</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Service")">Fitoterapeuta</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Donde Encontrarnos</h4>

                        <p>
                            <strong>Obaju Ltd.</strong>
                            <br>Av. Cuzco
                            <br>Ayacucho
                            <br>Huamanga
                            <br>
                            <strong>Great Britain</strong>
                        </p>

                        <a href="@Url.Action("Contact","Home")">Ve a la página e contactos</a>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->



                    <div class="col-md-3 col-sm-6">

                        <h4>Get the news</h4>

                        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                        <form>
                            <div class="input-group">

                                <input type="text" class="form-control">

                                <span class="input-group-btn">

                                    <button class="btn btn-default" type="button">Subscribe!</button>

                                </span>

                            </div>
                            <!-- /input-group -->
                        </form>

                        <hr>

                        <h4>Siguenos en Nuestras Redes Sociales</h4>

                        <p class="social">
                            <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                        </p>


                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->
        <!-- *** FOOTER END *** -->
        <!-- *** COPYRIGHT ***
        _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2017 alfredeveloper</p>

                </div>
                <div class="col-md-6">
                    <p class="pull-right">
                        <!--Template by <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious.com</a>-->
                        <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->
    <!-- *** SCRIPTS TO INCLUDE ***
    _________________________________________________________ -->
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/bootstrap-hover-dropdown.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/front.js"></script>
    <!--MY SCRIPTS-->
    <script src="~/js/ornamentals/enlaces.js"></script>
    <script src="~/js/ornamentals/ornamentals.animation.js"></script>

    <script>
        function Desplegar() {
            document.getElementById("despliegueDiv").style.display = "block";
        };
        function Ocultar() {
            document.getElementById("despliegueDiv").style.display = "none";
        };
    </script>
    <script>

        $(function () {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargaCarrito(productos);
            }
        });

        function AgregarCarrito(productoid, denominacion, imagen, precio) {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
            }

            var itemActual;
            for (var i = 0; i < productos.length; i++) {
                if (productos[i].ProductoId == productoid) {
                    itemActual = productos[i];
                }
            }

            if (!itemActual) {
                productos.push({ ProductoId: productoid, Denominacion: denominacion, Precio: precio, Cantidad: 1, Imagen: imagen });
            } else {
                itemActual.Cantidad++;
            }

            var jsonStr = JSON.stringify(productos);
            localStorage.setItem("carrito", jsonStr);

            CargaCarrito(productos);

        }

        function EliminarDeCarrito(productoid) {
            var carrito = localStorage.getItem("carrito");
            var productos = JSON.parse(carrito);

            for (var i = 0; i < productos.length; i++) {
                //alert(productos[i].ProductoId);
                if (productos[i].ProductoId == productoid) {
                    productos.splice(i, 1);
                }
            }
            localStorage.removeItem("carrito");
            var jsonStr = JSON.stringify(productos);
            localStorage.setItem("carrito", jsonStr);
            window.location = '@Url.Action("Index","Basket")'
        }

        function ActualizarCarrito() {
            var SizeRowTable = $("#TableCarrito tbody tr td input[type=number]").length;
            var TableInputs = $("#TableCarrito tbody tr td input[type=number]");
            var ArrayCant = [];
            for (var i = 0; i < SizeRowTable; i++) {
                ArrayCant[i] = TableInputs[i].value;
            }

            var CarritoArray = JSON.parse(localStorage.getItem("carrito"));
            console.log(CarritoArray);
            for (var i = 0; i < CarritoArray.length; i++) {

                CarritoArray[i].Cantidad = ArrayCant[i];
            }
            localStorage.removeItem("carrito");
            var jsonStr = JSON.stringify(CarritoArray);
            localStorage.setItem("carrito", jsonStr);
            window.location = '@Url.Action("Index","Basket")';

        }

        function CargaCarrito(productos) {
            var html = '';
            var total = 0;
            var totalFinal = 0;

            $("#nroProductosCarrito").text('(' + productos.length + ')');

            $.each(productos, function () {
                totalFinal += this.Precio * this.Cantidad;
                total = this.Precio * this.Cantidad
                html += /*'<div class="item-in-cart clearfix">' +
                       '    <div class="image">' +
                '             <img src="http://localhost/Admin/ImgProductos/' + this.Imagen + '"  width="124" height="124" alt="cart item" />' +
                '           </div>' +
                '           <div class="desc">' +
                '                 <strong><a href="product.html">' + this.Denominacion + '</a></strong>' +
                '                <span class="light-clr qty">Qty: ' + this.Cantidad + ' &nbsp;' +
                '                       <a href="#" class="icon-remove-sign" title="Remove Item"></a>' +
                '                    </span>' +
                '                </div>' +
                '                <div class="price">' +
                '                   <strong>S/. ' + this.Precio + '</strong>' +
                '               </div>' +
                '           </div>'+*/
                '           <tr>' +
                '                <td>' +
                '                    <a href="#">' +
                '                        <img src="/ImgProductos/' + this.Imagen + '" alt="White Blouse Armani"style="height:45px; width:40px;">' +
                '                    </a>' +
                '                </td>' +
                '                <td>' +
                '                    <a href="#">' + this.Denominacion + '</a>' +
                '                </td>' +
                '                <td>' + this.Precio + '</td>' +
                '                <td>' + this.Cantidad + '</td>' +
                '                <td>S/. ' + total + '</td>' +
                '            </tr>'
            });
            $('#itemcarrito').html(html);

            $("#totalCompraCarrito,#totalCarrito").text('S/.' + totalFinal);

        }

    </script>

</body>

</html>