@model List <Ornamentals_Project.Models.Producto>

<!--SEVICE-->
<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Servicios</li>
            </ul>
        </div>

        <div class="col-md-3">
            <!-- *** MENUS AND FILTERS ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Categorías</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li class="active">
                            <a href="category.html">Servicios@*<span class="badge pull-right"></span>*@</a>
                            <ul>
                                @foreach (var item in Model)
                                {
                                    <li>
                                        <form action="@Url.Action("Service","Service")">
                                            <input type="hidden" name="id" value="@item.ProductoId" />
                                            <button type="submit" class="btn btn-default img-responsive" style="width:223px; border:hidden; font-size:13px; color:#6B7873; text-align:left; padding-left:30px;">@item.Denominacion</button>
                                        </form>
                                    </li>
                                }
                            </ul>
                        </li>
                        
                    </ul>

                </div>
            </div>

            <!--
    <div class="panel panel-default sidebar-menu">

        <div class="panel-heading">
            <h3 class="panel-title">Tamaños <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Limpiar</a></h3>
        </div>

        <div class="panel-body">

            <form>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Grande (10)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Mediano (12)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Pequeño (15)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Semillas (14)
                        </label>
                    </div>
                </div>

                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Aplicar</button>

            </form>

        </div>
    </div>

    <div class="panel panel-default sidebar-menu">

        <div class="panel-heading">
            <h3 class="panel-title">Color de maceta <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
        </div>

        <div class="panel-body">

            <form>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> <span class="colour white"></span> Blanco
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> <span class="colour blue"></span> Gris
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> <span class="colour green"></span> Verde
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> <span class="colour yellow"></span> amarillo
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> <span class="colour red"></span> Negro
                        </label>
                    </div>
                </div>

                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Aplicar</button>

            </form>

        </div>
    </div>
    -->
            <!-- *** MENUS AND FILTERS END *** -->
            <!--
        <div class="banner">
        <a href="#">
            <img src="~/img/banner.jpg" alt="sales 2014" class="img-responsive">
        </a>
    </div>
    -->

        </div>

        <div class="col-md-9">
            <!--
        <div class="box">
        <h1>Plantas para Departamentos</h1>
        <p>Decora y dale vida a tu departamento</p>
    </div>
    -->

            

            <div class="box info-bar">
                <div class="row">
                                        
            <div class="col-sm-12 col-md-4 products-showing">
            Viendo <strong>12</strong> de <strong>25</strong> productos
        </div>
@*
    <div class="col-sm-12 col-md-8  products-number-sort">
        <div class="row">
            <form class="form-inline">
                <div class="col-md-6 col-sm-6">
                    <div class="products-number">
                        <strong>Ver</strong>  <a href="#" class="btn btn-default btn-sm btn-primary">12</a>  <a href="#" class="btn btn-default btn-sm">24</a>  <a href="#" class="btn btn-default btn-sm">Todos</a> productos
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="products-sort-by">
                        <strong>Ordenar por</strong>
                        <select name="sort-by" class="form-control">
                            <option>Precio</option>
                            <option>Nombre</option>
                            <option>Recomendados</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
*@
                    
                </div>
            </div>

            <div class="row products">
                @foreach (var item in Model)
                {
                    var imagen = @item.ProductoImagen.FirstOrDefault();
                    string img = imagen == null ? "no_disponible.jpg" : imagen.Imagen;
                    <div class="col-md-6 col-sm-6">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <form action="@Url.Action("Service","Service")">
                                            <input type="hidden" name="id" value="@item.ProductoId" />
                                            <button style="padding:0px; border:hidden" type="submit">
                                                <img src="~/ImgProductos/@img" alt="" class="img-responsive">
                                            </button>
                                        </form>
                                    </div>
                                    <div class="back">
                                        <form action="@Url.Action("Service","Service")">
                                            <input type="hidden" name="id" value="@item.ProductoId" />
                                            <button style="padding:0px; border:hidden" type="submit">
                                                <img src="~/ImgProductos/@img" alt="" class="img-responsive">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <form action="@Url.Action("Service","Service")">
                                <input type="hidden" name="id" value="@item.ProductoId" />
                                <button style="padding:0px; border:hidden" type="submit">
                                    <img src="~/ImgProductos/@img" alt="" class="img-responsive">
                                </button>
                            </form>
                            <div class="text">
                                <h3 style="margin-bottom:0"><a href="#">@item.Denominacion</a></h3>
                                @*<p class="price">S/. @item.Precio .00</p>*@
                                <form action="@Url.Action("Service","Service")">
                                    <input type="hidden" name="id" value="@item.ProductoId" />
                                    <h3 style="margin-top:0">
                                        <button type="submit" class="btn btn-info">ver Detalles</button>
                                    </h3>
                                </form>
                                @*<p class="buttons">
                                    <a href="@Url.Action("Product", "Store")" class="btn btn-default">Ver Detalles</a>
                                    @*<a href="@Url.Action("Index", "Basket")" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Añadir al Carrito</a>
                                </p>*@
                            </div>
                            <!-- /.text -->

                            @*<div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>*@
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>
                }
                



                
                <!-- /.col-md-4 -->
            </div>
            <!-- /.products -->
                        @*
            <div class="pages">

            <p class="loadMore">
                <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Ver Más</a>
            </p>

            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
                        *@
            


        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
