
@{
    ViewBag.Title = "Checkout3";
}

<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Modo de Pago</li>
            </ul>
        </div>

        <div class="col-md-9" id="checkout">

            <div class="box">
                <form method="post" action="@Url.Action("Checkout4","Basket")" novalidate>
                    <h1>Modo de Pago</h1>
                    <ul class="nav nav-pills nav-justified">
                        <li>
                            <a href="@Url.Action("Checkout1","Basket")"><i class="fa fa-map-marker"></i><br>Address</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Checkout2","Basket")"><i class="fa fa-truck"></i><br>Modo de Envío</a>
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-money"></i><br>Modo de Pago</a>
                        </li>
                        <li class="disabled">
                            <a href="#"><i class="fa fa-eye"></i><br>Revisión del pedido</a>
                        </li>
                    </ul>

                    <div class="content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="box payment-method">

                                    <h4 style="">Transferencia Bancaria</h4>
                                    <div id="DivTransBan" style="display:none">
                                        <h5>Número de Cuenta de Ahorros en Soles:</h5>

                                        <p>Banco INTERBANK: 898-3033871718</p>
                                        <p>Banco SCOTIABANK: 730-7626205</p>
                                        <p>A nombre de: Alfredo Yupanqui Alarcon</p>
                                        <p>DNI: 70614476</p>
                                    </div>
                                    
                                    <div class="box-footer text-center">
                                        <input type="radio" name="payment" value="payment3" id="RbTransBan">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="box payment-method">

                                    <h4>Contra Reembolso</h4>
                                    <div id="DivContraR" style="display:none;">
                                        <p>El pago se realiza al momento de la entrega del producto.</p>
                                        <p>Solo para personas que viven en la ciudad de Ayacucho</p>
                                    </div>
                                    <div class="box-footer text-center">
                                        <input type="radio" name="payment" value="payment3" id="RbContraR">
                                    </div>
                                </div>
                            </div>
                            

                            
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="box payment-method">
                                    <div class="row">
                                        <div class="col-md-4"><h4>Paypal</h4></div>
                                        <div class="col-md-4"><a href="#"><img src="~/img/buttons/paypal.gif" alt="PayPal" width="145" height="42" /></a></div>
                                        <div class="col-md-3"></div>
                                    </div>

                                    <div id="DivPaypal" style="display:none;">

                                    </div>
                                    <div class="box-footer text-center">
                                        <input type="radio" name="payment" value="payment1" id="RbPaypal" checked>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box payment-method">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>Tarjeta de Crédito</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="~/img/AccountsTarget.jpg" alt="PayPal" width="145" height="42" />
                                        </div>
                                    </div>
                                    <div id="DivTarjeta" style="display:none;" class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="">Nombres<span class="red-clr bold">*</span></label>
                                            <div class="">
                                                <input type="text" id="firstName" class="form-control" required="" name="Nombres"/>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="">Apellidos<span class="red-clr bold">*</span></label>
                                            <div class="">
                                                <input type="text" id="lastName" class="form-control" required="" name="Apellidos"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            &nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label" for="cardNum">Número de Tarjeta<span class="red-clr bold">*</span></label><br />
                                            <div class="col-md-3">
                                                <input type="text" id="cardNum" class="form-control" maxlength="4" />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" maxlength="4" />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" maxlength="4" />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" maxlength="4" data-title="The 16 digits on the front of the card" />
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="cvc">CVC o CVS<span class="red-clr bold">*</span></label>
                                            <div class="controls">
                                                <input id="cvc" type="text" class="form-control" maxlength="3" data-title="Last 3 digits on back of card" required="" />
                                            </div>
                                        </div>
                                        <!--
                    <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label" for="exp">Expiration Date<span class="red-clr bold">*</span></label> <br />
                    <div class="form-group col-md-6">
                        <select id="exp" class="form-control">
                            <option value="-1" />Month
                            <option value="1" />01
                            <option value="2" />02
                            <option value="3" />03
                            <option value="4" />04
                            <option value="5" />05
                            <option value="6" />06
                            <option value="7" />07
                            <option value="8" />08
                            <option value="9" />09
                            <option value="10" />10
                            <option value="11" />11
                            <option value="12" />12

                        </select>
                        </div>
                    <div class="form-group col-md-6">
                        <select id="exp" class="form-control">
                            <option value="-1" />Year
                            <option value="2013" />2013
                            <option value="2014" />2014
                            <option value="2015" />2015
                            <option value="2016" />2016
                            <option value="2017" />2017
                            <option value="2018" />2018
                            <option value="2019" />2019

                        </select>
                    </div>
                </div>
                -->
                                    </div>
                                    <div class="box-footer text-center">
                                        <input type="radio" name="payment" value="payment2" id="RbTarget">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                    </div>
                    <!-- /.content -->

                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="@Url.Action("Checkout2","Basket")" class="btn btn-default"><i class="fa fa-chevron-left"></i>Atrás</a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">
                                Continuar<i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->


        </div>
        <!-- /.col-md-9 -->

        <div class="col-md-3">
            <div class="box" id="order-summary">
                <div class="box-header">
                    <h3>Resumen del pedido</h3>
                </div>
                <p class="text-muted">El envío y los costes adicionales se calculan en función de los valores introducidos.</p>

                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Subtotal de Orden</td>
                                <th id="subtotal"></th>
                            </tr>
                            <tr>
                                <td>Envío y manipulación</td>
                                <th>S/.5.00</th>
                            </tr>
                            <tr>
                                <td>Impuestos</td>
                                <th>S/.5.00</th>
                            </tr>
                            <tr class="Total">
                                <td>Total</td>
                                <th id="total"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

                        @*
            <div class="box">
            <div class="box-header">
                <h4>Código de Cupón</h4>
            </div>
            <p class="text-muted">Si tienes un código de cupón, ingresa en el cuadro de abajo.</p>
            <form>
                <div class="input-group">

                    <input type="text" class="form-control">

                    <span class="input-group-btn">

                        <button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>

                    </span>
                </div>
                <!-- /input-group -->
            </form>
        </div>
                        *@
            

        </div>
        <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->
</div>

<script src="~/js/jquery-1.11.0.min.js"></script>

<script>
    $('input[type="radio"]').on('click change', function (e) {
        
        if (this.id == "RbTarget" && this.checked) {
            DesplegarDiv('DivTarjeta');
            OcultarDiv('DivPaypal', 'DivContraR', 'DivTransBan');
        }else if(this.id == "RbPaypal"){
            DesplegarDiv('DivPaypal');
            OcultarDiv('DivTarjeta', 'DivContraR', 'DivTransBan');
        } else if (this.id == "RbContraR") {
            DesplegarDiv('DivContraR');
            OcultarDiv('DivTarjeta', 'DivPaypal', 'DivTransBan');
        } else if (this.id == "RbTransBan") {
            DesplegarDiv('DivTransBan');
            OcultarDiv('DivTarjeta', 'DivPaypal', 'DivContraR');
        } else {}           
        
    });
    function DesplegarDiv(id){
        document.getElementById(id).style.display = "block";
    }
    function OcultarDiv(id1, id2, id3) {
        document.getElementById(id1).style.display = "none";
        document.getElementById(id2).style.display = "none";
        document.getElementById(id3).style.display = "none";
    }
</script>
